.DS_Store*
.Apple*
*.pyc
*.pyo
*.bak
*.DB
*.db
*.fln
*.csv
SWsrc
APRSsrc
src
html
aprslog
archive
bkup
lemd.py
scel.py
weather*
sh/nfs.sh
sh/test*
sh/mesh*
sh/wlan*
node_modules
flarmdb/*.log
flarmdb/*.txt
flarmdb/*.bkup
flarmdb/*.json
flarmdb/*.fln
flarmdb/*.csv
flramdb/kglid.py
flramdb/ognddbdata.py
flramdb/flarmdata.py
