.DS_Store*
.Apple*
*.pyc
*.log
*.pyo
*.bak
*.DB
*.db
*.fln
*.csv
sscommit.sh
sslink.sh
src/
html/
lemd.py
scel.py
sh/nfs.sh
sh/test*
sh/mesh*
sh/wlan*
sh/mailnames.txt
node_modules/
flarmdb/*.log
flarmdb/*.txt
flarmdb/*.bkup
flarmdb/*.json
flarmdb/*.fln
flarmdb/*.csv
config/
.vagrant/
.DBpasswd
dockerfiles/.DBpasswd
